.main-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.8fr 1.5fr 1.5fr;
    grid-template-areas: "header" "map" "contact";
}

.header {
    grid-area: header;
    background-color: #fcc603;
    padding: 1vw;
}

.map {
    grid-area: map;
}

.contact {
    grid-area: contact;
}

.header-container h1 {
    font-size: 4vw;
    margin-bottom: 1px;
}

.header-container p {
    font-size: 1.4vw;
    color: white;
}

#myMap {
    height: 100%;
}

.contact-container {
    display: grid;
    grid-template-columns: 3fr 1.8fr;
    grid-template-rows: 1fr;
}

.contact-form {
    padding: 10px
}