html,
body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}

a, a:visited {
    color: black;
    text-decoration: none;
}

.container {
    display: grid;
    column-gap: 1px;
    row-gap: 1px;
    grid-template-columns: .3fr 5fr .3fr;
    grid-template-rows: 0.2fr 2fr 0.5fr;
    grid-template-areas: "sidebar-left nav sidebar-right" "sidebar-left main sidebar-right" "sidebar-left footer sidebar-right"
}

.nav-container {
    display: grid;
    grid-template-columns: 5fr 3fr;
    grid-template-rows: auto;
    grid-template-areas: "nav-logo nav-items";
}

li {
    display: block;
    transition-duration: 0.5s;
}

li:hover {
    cursor: pointer;
}

ul li ul {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    transition: all 0.5s ease;
    margin-top: 1rem;
}

ul li:hover>ul,
ul li ul:hover {
    visibility: visible;
    opacity: 1;
    display: block;
}

.dropdown-item:hover {
    background-color: #fcc603;
}

ul li ul li {
    clear: both;
    width: 100%;
}

.nav {
    grid-area: nav;
    background-color: gray;
}

.nav-logo {
    grid-area: nav-logo;
}

.nav-logo img {
    padding-left: 15px;
    max-width: 25.5vw;
    height: auto;
}

.nav-items li {
    list-style-type: none;
    display: inline;
    padding: 5px;
    color: grey;
}

.nav-items {
    grid-area: nav-items;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.8vw;
}

.sidebar-left {
    grid-area: sidebar-left;
    background-color: white;
}

.sidebar-right {
    grid-area: sidebar-right;
    background-color: white;
}

.main {
    grid-area: main;
    background-color: pink;
}

.footer {
    grid-area: footer;
    background-color: orange;
}

.footer-container {
    background-color: #2f2f30;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.5fr 3fr 0.5fr;
    grid-template-areas: "footer-text1 footer-text2 footer-text3" "footer-content1 footer-content2 footer-content3" "social ";
    column-gap: 10px;
    padding: 5px;
}
.footer-header a{
    color: #acacb5;
    text-decoration: underline;
}

.footer-header {
    font-size: 1.3vw;
    color: #acacb5;
    padding: 10px 0px;
}

.footer-content {
    font-size: 1.1vw;
    color: #757575;
}

.social {
    display: flex;
    font-size: 1.5vw;
    background-color: yellow;
    justify-content: space-around;
    padding: 6px;
}

#footer-text1 {}

#footer-text2 {}

#footer-text3 {}

#footer-content1 {}

#footer-content2 {}

#footer-content3 {}