html,
body {
    padding: 0;
    margin: 0;
}

.container {
    display: grid;
    column-gap: 1px;
    row-gap: 1px;
    grid-template-columns: .3fr 5fr .3fr;
    grid-template-rows: 1fr 6fr 2fr;
    grid-template-areas: "sidebar-left nav sidebar-right" "sidebar-left main sidebar-right" "sidebar-left footer sidebar-right"
}

.nav-container {
    display: grid;
    grid-template-columns: 5fr 2fr;
    grid-template-rows: 1fr;
    grid-template-areas: "nav-logo nav-items";
}

.main-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 4fr 2fr 2fr;
    grid-template-areas: "header" "content" "gallery";
}

.header-container {
    display: grid;
    grid-template-columns: 1.5fr 2fr;
    grid-template-rows: 1fr;
    grid-template-areas: " header-left header-right";
    column-gap: 0.2fr;
}

.header {
    grid-area: header;
    background-color: #fcc603;
}

.header-right {
    grid-area: header-right;
}

.header-right img {
    max-width: 100%;
    height: auto;
}

.header-left {
    grid-area: header-left;
    height: auto;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-left-content {
    height: 80%;
    width: 70%;
}

.header-left-content h1 {
    font-size: 4vw;
    margin: auto;
    text-align: left;
}

.header-left-note {
    font-size: 1.5vw;
    padding-top: 1.4em;
    padding-bottom: 1.4em;
    margin: auto;
    color: white;
    text-align: left;
}

.contact-us-button {
    background-color: #ffffff;
    display: inline-block;
    cursor: pointer;
    margin: 1.4em 0em;
    color: #000000;
    font-family: Arial;
    font-size: 1vw;
    font-weight: bold;
    border-color: white;
}

#signup {
    background-color: #ffffff;
    display: inline-block;
    cursor: pointer;
    margin: 1.4em 0em;
    color: #000000;
    font-family: Arial;
    font-size: 0.9vw;
    font-weight: bold;
    border-color: white;
}

#newsletter-signup {
    font-size: 0.9vw;
}

li {
    display: block;
    transition-duration: 0.5s;
}

li:hover {
    cursor: pointer;
}

ul li ul {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    transition: all 0.5s ease;
    margin-top: 1rem;
}

ul li:hover>ul,
ul li ul:hover {
    visibility: visible;
    opacity: 1;
    display: block;
}

.dropdown-item:hover {
    background-color: #fcc603;
}

ul li ul li {
    clear: both;
    width: 100%;
}

.nav {
    grid-area: nav;
    background-color: gray;
}

.nav-logo {
    grid-area: nav-logo;
}

.nav-logo img {
    padding-left: 15px;
    max-width: 100%;
    height: auto;
}

.nav-items li {
    list-style-type: none;
    display: inline;
    padding: 5px;
    color: grey;
}

.nav-items {
    grid-area: nav-items;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sidebar-left {
    grid-area: sidebar-left;
    background-color: white;
}

.sidebar-right {
    grid-area: sidebar-right;
    background-color: white;
}

.main {
    grid-area: main;
    background-color: pink;
}

.footer {
    grid-area: footer;
    background-color: orange;
}

.content {
    grid-area: content;
    justify-items: center;
}

.content-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "content-item1 content-item2 content-item3";
    width: 100%;
    height: 100%;
}

.content-item {
    width: 90%;
    height: 90%;
    position: relative;
    padding-left: 10px;
}

.content-item div {
    margin-left: 4px;
    margin-right: 4px;
    font-size: 1.5vw;
    width: 100%;
    margin: 0;
    top: 50%;
    position: absolute;
    text-align: left;
    transform: translate(0, -50%);
}

.content-item-wrapper {
    width: 90%;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content-item img {
    padding-right: 8px;
    max-width: 100%;
    height: auto;
}

#content-item1 {
    grid-area: content-item1;
}

#content-item2 {
    grid-area: content-item2;
}

#content-item3 {
    grid-area: content-item3;
}

.gallery {
    grid-area: gallery;
}

.gallery-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "gallery-image1 gallery-image2 gallery-image3 gallery-image4";
    width: 100%;
    height: 100%;
}

.gallery-image {
    margin: 5px 5px 5px 0px;
    ;
}

.gallery-link {
    display: inline-block;
    width: 100%;
    height: 100%;
}

#gallery-image1 {
    background-image: url("../img/a7-white.jpg");
    background-size: cover;
    grid-area: gallery-image1;
}

#gallery-image2 {
    background-image: url("../img/rs7-black.jpg");
    background-size: cover;
    grid-area: gallery-image2;
}

#gallery-image3 {
    background-image: url("../img/rs6-white.jpg");
    background-size: cover;
    grid-area: gallery-image3;
}

#gallery-image4 {
    background-image: url("../img/s8-black.jpg");
    background-size: cover;
    grid-area: gallery-image4;
}

.footer-container {
    width: 100%;
    height: 100%;
    background-color: #2f2f30;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.5fr 3fr 0.5fr;
    grid-template-areas: "footer-text1 footer-text2 footer-text3" "footer-content1 footer-content2 footer-content3" "social ";
    column-gap: 10px;
    padding: 5px;
}

.footer-header {
    font-size: 1.3vw;
    color: #acacb5;
    padding: 10px 0px;
}

.footer-content {
    font-size: 1.1vw;
    color: #757575;
}

.social {
    display: flex;
    background-color: yellow;
    justify-content: space-around;
    padding: 6px;
}

#footer-text1 {}

#footer-text2 {}

#footer-text3 {}

#footer-content1 {}

#footer-content2 {}

#footer-content3 {}